<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
    <h2>Controller</h2>
    <ul>
      <li>Recieves input (from view, url)</li>
      <li>Processes requests (GET, POST, PUT, DELETE)</li>
      <li>Gets data from the model</li>
      <li>Passes data to the view</li>
      <li>The means in which the model and view communicates with eachother</li>
    </ul>
    
  </div>

  <!-- <%- include('./partials/footer.ejs') %>  -->
</body>
</html>