<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>MVC Time</h1></a>
    </div>
    <ul>
      <li><a href="/model">Model</a></li>
      <li><a href="/view">View</a></li>
      <li><a href="/controller">Controller</a></li>
    </ul>
  </nav>

  <div class="create-blog content">
    <form action="">
      <label for="title">Blog Title:</label>
      <input type="text" id="'title" required>
      <label for="snippet">Blog Snippet:</label>
      <input type="text" id="snippet" requried>
      <label for="body">Blog Body: </label>
      <textarea name="body" id="body" cols="30" rows="10" required></textarea>
      <button>Submit</button>
    </form>
  </div>
</body>
</html>