<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
    <h2>Model</h2>
    <ul>
      <li>Data related logic</li>
      <li>Interacts with the database (select, insert, update, delete)</li>
      <li>Communicates with the controller</li>
      <li>Can sometimes update the view</li>
    </ul>
  </div>

  <%- include('./partials/footer.ejs') %> 
</body>
</html>