<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
    <h2>View</h2>
    <ul>
      <li>What the user sees and interacts with (ui)</li>
      <li>Usually consists of HTML and CSS</li>
      <li>Communicates with the controller</li>
      <li>Can be passed dynamic values from the controller</li>
      <li>A template engine, such as EJS</li>
    </ul>
  </div>

  <!-- <%- include('./partials/footer.ejs') %>  -->
</body>
</html>